@font-face {
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-family: "Raleway"; }
@font-face {
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-family: "Raleway";
  font-weight: bold; }
@font-face {
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
  font-family: "Raleway";
  font-weight: 200; }
@font-face {
  src: url("../fonts/Merriweather-Light.ttf") format("truetype");
  font-family: "Merriweather"; }
@font-face {
  src: url("../fonts/Merriweather-Bold.ttf") format("truetype");
  font-family: "Merriweather";
  font-weight: bold; }
body {
  background-color: #333333; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  color: white; }

p, div {
  font-family: "Merriweather";
  color: white; }

a {
  color: #96D9F1; }
  a:hover {
    color: #D0B03C; }

code {
  border: none;
  color: inherit;
  background-color: transparent; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.hero {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-top: 30vh; }
  .hero .center-bar {
    width: 100vw;
    height: 40vh; }
    .hero .center-bar #title {
      display: inline; }
    .hero .center-bar img {
      height: 100%;
      box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24); }

nav.top-bar {
  background-color: #218693; }

section.content {
  margin-top: 50px; }
  section.content .content-header {
    text-align: center; }
    section.content .content-header h1 {
      font-weight: 200; }

#portfolio ul.tabs {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #portfolio ul.tabs li {
    margin: 0 5px; }
  #portfolio ul.tabs li a {
    font-family: "Raleway";
    color: white;
    border-bottom: 2px solid #8F8F8F;
    background-color: transparent; }
    #portfolio ul.tabs li a:hover {
      color: #D0B03C;
      border-bottom: 2px solid #D0B03C; }
  #portfolio ul.tabs li.active a {
    color: #D0B03C;
    border-bottom: 2px solid #D0B03C; }
#portfolio .tabs-content .content {
  padding-bottom: 0px;
  border-bottom: 2px solid #8F8F8F; }
#portfolio .item {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #portfolio .item .description h3 {
    font-weight: bold; }
  #portfolio .item .column {
    padding-top: 20px;
    padding-bottom: 20px; }
  #portfolio .item .column.tallest:before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    background: #333333;
    text-align: center;
    border: 3px solid #8F8F8F;
    border-radius: 15px;
    z-index: 2; }
  #portfolio .item .column.tallest:first-child:before {
    right: -16px; }
  #portfolio .item .column.tallest:nth-child(2):before {
    left: -16px; }
  #portfolio .item .column:first-child {
    padding-right: 49px;
    margin-right: -1px;
    border-right: 2px #8F8F8F solid;
    text-align: right; }
  #portfolio .item .column:nth-child(2) {
    padding-left: 49px;
    margin-left: -1px;
    border-left: 2px #8F8F8F solid;
    text-align: left; }
  #portfolio .item .column.thumbnail img {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24); }

#workflow img#vim {
  margin-bottom: 20px; }

footer {
  width: 100vw;
  margin: 50px 0; }
  footer .contact {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    footer .contact a {
      color: white; }
      footer .contact a:hover {
        color: #D0B03C; }

.depth0 {
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent; }

.depth1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.depth2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2); }

.depth3 {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24); }

.depth4 {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22); }

.depth5 {
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2); }
