---
title: Intercol
background: intercol_background.jpg
logo: intercol.png
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include head.html %}
		<style>
			ul.roman {
				list-style: lower-roman;
			}
			ul.roman > li > ul {
				list-style: circle;
			}
			ul {
				list-style: disc;
			}
			ul > li {
				font-size: 16px;
				padding-bottom: 5px;
			}
			ul > li > ul > li {
				font-size: 15px;
			}
		</style>
	</head>

	<body>
		<!-- <div id='mid'></div> -->
		<div class="container-fluid" id="page">

			{% include header.html %}

			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					
					<h1 id="what"> What is Intercol? </h1>
					<p>Intercol is our Intercollegiate traveling team. Through Intercol, IAA members travel to 9-10 Model UN conferences around the country every year. This provides the opportunity to meet people from all over the world, both those who go to Penn and those who attend other universities that compete against us. It is one of the best ways of getting to know members of the IAA. Even if you have no prior Model UN experience, I encourage you to compete. On the flip side, I also strongly encourage those that have competed in high school to look to Intercol as a place to hone your debating skills and take part in one of the most consistently top notch Model UN programs in the United States.</p>

					<p>Last year, Intercol had one of the most successful in MUN history. Winning 9 delegation awards at a citcuit-high ten conferences, eight of which were best large delegation awards, Penn came home with the #1 national ranking on BestDelegate.com. The hallmark of the Penn team has been the ability to excel in committee while also ensuring that the team has as much fun as possible. I have no doubt that we will be able to continue this tradition and I expect us to finish the 2013-2014 season as we begin it; as the undisputed #1 ranked school on the collegiate Model UN circuit!</p>

					<p>If you are interested in participating in Intercol, please email me or a member of the Intercol Board to learn more about the program, and you can also attend one of our weekly General Body Meetings to get more details. This experience is one of the most memorable and enjoyable opportunities provided by the IAA, and I hope that you look to take advantage of it!</p>

					<div class="break"></div>

					<h1 id="members"> Member's Area </h1> <!-- Stupid Name ??? -->
					<h3> Staffing </h3>
					<ul class="roman">
						<li>In order to attend a conference with Intercol, please attend the Conference Standing session to be held during mid-September. If you find that you will be unable to attend, just contact Intercol Director, Akhilesh Goswami.</li>
						<li>Please note: In order to attend a conference, it is necessary for you to have staffed UPMUNC and ILMUNC, unless you have a valid reason such as medical or family emergency or were not yet part of the club. Freshmen are exempt from this requirement for Fall trips since UPMUNC and ILMUNC occur after the conferences we attend during Fall Semester. So long as you are staffed for the two conferences that we host here at Penn, you will be in consideration to compete. Conferences are held Thursday through Sunday. Attending a conference will require missing classes on the Thursday and Friday of the trip. Attendance at these conferences is also contingent on attendance at mandatory training sessions and mock conferences.</li>
						<li>We will do our best to accommodate everyone's preferences while forming a team with a mix of old and new members that we feel would make a competitive team. If you have any questions please feel free to email us.</li>
					</ul>

					<h3> Intercol Policies </h3>
					<ul class="roman">
						<li>The IAA pays for all expenses associated with attending a conference with Intercol, including conference fees, hotels, and transportation.</li>
						<li>In order to attend a conference with Intercol, we require that you:
							<ul>
								<li>Staff both UPMUNC and ILMUNC</li>
								<li>Attend all required training sessions, pre-trip mock conferences, and pre-trip meetings. These sessions will be explained to you in greater detail once you have reached out to Intercol and are in our system.</li>
								<li>Attend all committee sessions at the conference</li>
								<li>If you are unable to attend training sessions, mock conferences, or meetings due to classes or other commitments, please speak with either the Director of Intercol or the head delegate of the conference you will be attending, and we can arrange alternatives or exemptions</li>
							</ul>
						</li>
					</ul>

					<h3> Deposits </h3>
					<ul class="roman">
						<li>To secure your spot on a conference, we require a $75 deposit for trips not involving a flight and $150 for those with flights once you are selected to attend</li>
						<li>This deposit will be returned to you after attending the conference.</li>
						<li>If you drop out of a conference within 10 days of a conference, you will forfeit your deposit, with exceptions made in cases of emergencies and illness.</li>
						<li>If you are unable to pay the deposit due to financial difficulties, please speak with either the Director of Intercol or the head delegate of the conference you will be attending.</li>
					</ul>

					<div class="break"></div>

					<h1 id="schedule"> Conference Schedule </h1>
					<h3> Trips </h3>
					<p> All conferences take place Thursday through Sunday. If you are attending a conference, you will miss classes on both Thursday and Friday. We can provide excuse letters to give to your professors. </p>

					<h3> Fall 2013 </h3>
					<ul>
						<li> October 3rd to October 6th, 2013 – CMUNNY (Columbia Model United Nations in New York) </li>
						<li> October 10th to October 13th, 2013 – SCSY (Security Council Simulation at Yale) </li>
						<li> October 10th to October 13th, 2013 - BarMUN (Boston Area Model United Nations Conference) </li>
						<li> October 24th to October 27th, 2013 – NCSC (National Collegiate Security Council) – Georgetown </li>
					</ul>

					<h3> Spring 2014 </h3>
					<ul>
						<li> February 13th to 16th, 2014 – HNMUN (Harvard National Model United Nations) </li>
						<li> February 20th to 23rd, 2014 – PICSim (Princeton Interactive Crisis Simulation) </li>
						<li> February 27th to March 2nd, 2014 - WPSC (West Point Security Conference) </li>
						<li> April 3rd - 6th, 2014 – VICS (Virginia International Crisis Simulation) </li>
						<li> April 3rd - 6th, 2014 – NYUMUNC (New York University Model United Nations Conference) </li>
						<li> April 17th - 20th - ChoMUN (University of Chicago Model United Nations) </li>
					</ul>

					<div class="break"></div>

					<h1 id="awards"> Awards </h1>

					<div class="break"></div>

					<h1 id="board"> Intercol Board </h1>

					<div class="row">
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
						<div class="col-md-8 bio">
							<h3> Jane Doe </h3>
							<h4> Director of Directing </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 bio">
							<h3> John Doe </h3>
					        <h4> Executive Executer </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
						<div class="col-md-8 bio">
							<h3> Jane Doe </h3>
							<h4> Director of Directing </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 bio">
							<h3> John Doe </h3>
					        <h4> Executive Executer </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
						<div class="col-md-8 bio">
							<h3> Jane Doe </h3>
							<h4> Director of Directing </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 bio">
							<h3> John Doe </h3>
					        <h4> Executive Executer </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
					</div>

					<div class="break"></div>

					{% include footer.html %}		

				</div> <!-- col-md-6 -->
				<div class="col-md-3">
					<div class="sidebar">
						<ul>
							<li anchor="what"> What is Intercol? </li>
							<li anchor="members"> Member's Area </li>
							<li anchor="schedule"> Conference Schedule </li>
							<li anchor="awards"> Awards </li>
							<li anchor="board"> Intercol Board </li>
						</ul>
					</div>
				</div>

		</div>

		{% include js.html %}
	</body>
</html>