@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasNeue Regular.otf") format("opentype"); }
@font-face {
  font-family: "Bebas Light";
  src: url("../fonts/BebasNeue Light.otf") format("opentype"); }
@font-face {
  font-family: Calluna;
  src: url("../fonts/2DA001_0_0.woff2") format("woff2"); }
body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #222222; }

h1, h2, h3, h4 {
  font-family: Bebas;
  color: #222222; }

p {
  font-family: Calluna; }

.splash {
  width: 100vw;
  height: 30vh;
  background-image: url("../assets/splash.jpeg");
  background-size: cover;
  background-position: top; }

nav.desktop .logo-bar {
  background-color: #01256e;
  color: #FFFFFF;
  font-family: "Bebas", sans-serif;
  font-size: 5vh; }
  nav.desktop .logo-bar img.PRFC {
    display: inline-block;
    float: left;
    max-height: 60px;
    max-width: 65vw;
    margin-top: 30px;
    margin-bottom: 30px; }
  nav.desktop .logo-bar img.crest {
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right; }
  nav.desktop .logo-bar .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    nav.desktop .logo-bar .flex-container h3 {
      margin: 0; }
    nav.desktop .logo-bar .flex-container h3 a {
      color: #FFFFFF;
      letter-spacing: 2px;
      margin: 0; }
      nav.desktop .logo-bar .flex-container h3 a:hover {
        color: #95001A; }
nav.desktop .nav-bar {
  background-color: #95001A;
  color: #FFFFFF; }
  nav.desktop .nav-bar ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: 5px 0; }
    nav.desktop .nav-bar ul li {
      padding-right: 10px;
      font-family: "Bebas";
      font-size: 17px;
      letter-spacing: 2px;
      text-align: center;
      cursor: pointer; }
      nav.desktop .nav-bar ul li:hover {
        color: #CCCCCC; }
    nav.desktop .nav-bar ul li.break {
      cursor: initial; }
    nav.desktop .nav-bar ul li.last {
      padding-right: 0; }

nav.mobile {
  background-color: #95001A; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px; }
  .header .content-header h2 {
    font-size: 50px; }
  .header .annoucements-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .header .annoucements-header h3 {
      text-align: center; }

.content {
  margin-bottom: 100px; }
  .content .annoucements h4 {
    text-align: center;
    margin-top: 10px; }

footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #01256e;
  color: #FFFFFF; }
  footer #social-media {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px white solid; }
    footer #social-media .svg-icon {
      width: 50px;
      height: 50px;
      margin: 15px; }
      footer #social-media .svg-icon path, footer #social-media .svg-icon polygon, footer #social-media .svg-icon rect {
        fill: #FFFFFF; }
    footer #social-media .svg-icon:hover {
      width: 60px;
      height: 60px;
      margin: 10px; }
