---
title: ILMUNC
background: ilmunc_background.jpg
logo: ILMUNC.png
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include head.html %}
	</head>

	<body>
		<!-- <div id='mid'></div> -->
		<div class="container-fluid" id="page" content-size="120%">

			{% include header.html %}

			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					
					<h1 id="about-ilmunc"> About the Ivy League Model United Nations Conference </h1>
					<p>The Ivy League Model United Nations Conference (ILMUNC) is the premier Model United Nations conference for high school students. Each January, we gather over 2,700 students from around the world to participate in a weekend of stimulating debate, hands-on learning, and enjoyable activities in Philadelphia and on Penns scenic campus.</p>

					<p>This year ILMUNC 30 will be held from Thursday, January 30 to Sunday, February 2, 2014 at the Sheraton Philadelphia Downtown Hotel, in the heart of the city of Brotherly Love.</p>

					<div class="break"></div>

					<h1 id="about-china"> About ILMUNC China </h1>
					<p> The Ivy League Model United Nations Conference - China (ILMUNC China) is the first of the IAA's international endeavors. ILMUNC China participates annually in WEMUN Expo and became an independent conference in 2012. Since then, ILMUNC China has repeatedly served as a great introduction to the world of Model UN for new delegates while still providing a competitive experience for those students who have debated before. Together, IAA members as directors and Chinese high school students as delegates collaborate to foster international cooperation, encourage cross-cultural understanding, and provide the tools for diplomacy. </p>

					<p> The third session of ILMUNC China will be held in Guangzhou, China from Sunday, December 29, 2012 to Wednesday, January 1, 2013 and looks forward to the participation of high school students from all around the world. </p>

					<div class="break"></div>

					<h1 id="about-india"> About ILMUNC India </h1>
					<p>After 29 successful sessions in Philadelphia and 2 in China, ILMUNC conference is finally expanding to India. ILMUNC India will be held in New Delhi, India from Thursday, October 10th to Sunday, October 13th. It will see 750 accomplished high school students from around the world engage in stimulating debate, hands-on learning, and enjoyable activities in the heart of India. ILMUNC India will provide a unique opportunity for competition in rigorous debate where students will gain a deeper understanding for the complexities of global politics and a greater appreciation for the increasingly interconnected nature of the international community.</p>
					
					<div class="break"></div>

					{% include footer.html %}		

				</div> <!-- col-md-6 -->
				<div class="col-md-3">
					<div class="sidebar">
						<ul>
							<li anchor="about-ilmunc"> About ILMUNC </li>
							<li anchor="about-china"> About ILMUNC China </li>
							<li anchor="about-india"> About ILMUNC India </li>
						</ul>
					</div>
				</div>

		</div>

		{% include js.html %}
	</body>
</html>