
<meta charset="utf-8">
<title>Penn IAA | {{ page.title }}</title>
<link rel="shortcut icon" href="{{ site.url }}/assets/iaa.ico">

<!-- Bootstrap -->
<link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">

<!-- Paper -->
<link href="{{ site.url }}/css/paper.css" rel="stylesheet">

<!-- Header -->
<!-- <link href="{{ site.url }}/css/header.css" rel="stylesheet"> -->

<!-- Page Specific Style -->
<!-- <link href="{{ site.url }}/css/{{ page.css }}" rel="stylesheet"> -->

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200|Cinzel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Slab:400,300' rel='stylesheet' type='text/css'>