<div class="nav">
	<ul id="left">
		<a href="#"><li>HOME</li></a>
		<a href="{{ site.url }}/ilmunc/index.html"><li>ILMUNC</li></a>
		<a href="{{ site.url }}/upmunc/index.html"><li>UPMUNC</li></a>
		<a href="{{ site.url }}/intercol/index.html"><li>INTERCOL</li></a>
		<a href="{{ site.url }}/special-events/index.html"><li>SPECIAL EVENTS</li></a>
	</ul>
	<ul id="right">
		<a href="{{ site.url }}/academic-affairs/index.html"><li>ACADEMIC AFFAIRS</li></a>
		<a href="{{ site.url }}/coe/index.html"><li>COE</li></a>
		<a href="{{ site.url }}/secretary-board/index.html"><li>SECRETARY BOARD</li></a>
		<a href="{{ site.url }}/consul/index.html"><li>CONSUL</li></a>
		<a href="http://ambassadoriaa.com/"><li>AMBASSADOR</li></a>
	</ul>
</div>