---
title: Secretary Board
background: sec_background.jpg
logo: sec.png
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include head.html %}
	</head>

	<body>
		<div class="container-fluid" id="page" content-size="120%">
			<!-- <div id='mid'></div> -->

			{% include header.html %}

			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">

					<h1 id="about"> About Secretary Board </h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
					<div class="break"></div>

					<h1 id="board"> Secretary Board </h1>

					<div class="row">
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
						<div class="col-md-8 bio">
							<h3> Jane Doe </h3>
							<h4> Director of Directing </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 bio">
							<h3> John Doe </h3>
					        <h4> Executive Executer </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
						<div class="col-md-8 bio">
							<h3> Jane Doe </h3>
							<h4> Director of Directing </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 bio">
							<h3> John Doe </h3>
					        <h4> Executive Executer </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
						<div class="col-md-8 bio">
							<h3> Jane Doe </h3>
							<h4> Director of Directing </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 bio">
							<h3> John Doe </h3>
					        <h4> Executive Executer </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="col-md-4 portrait">
							<div class="center circle">
								<img src="{{ site.url }}/assets/portraits/placeholder.gif">
							</div>
						</div>
					</div>
					
					<div class="break"></div>

					{% include footer.html %}

				</div>
				<div class="col-md-3">
					<div class="sidebar">
						<ul>
							<li anchor="about"> About Secretary Board</li>
							<li anchor="board"> Secretary Board </li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		{% include js.html %}
	</body>
</html>