---
title: UPMUNC
background: upmunc_background.jpg
logo: upmunc.png
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include head.html %}
	</head>

	<body>
		<!-- <div id='mid'></div> -->
		<div class="container-fluid" id="page" content-size="120%">

			{% include header.html %}

			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					
					<h1 id="about"> About the Ivy League Model United Nations Conference </h1>
					<p>The IAA organizes and hosts the University of Pennsylvania Model United Nations Conference (UPMUNC) annually. UPMUNC, in its forty-eight year, is one the world's preeminent collegiate Model United Nations conferences. Each November, UPMUNC hosts more than 1500 students from all over the world in historic Philadelphia.</p>

					<p>This year UPMUNC XLVIII will be held from November 6 to November 9, 2014 at the Sheraton in Downtown Philadelphia.</p>

					<div class="break"></div>

					{% include footer.html %}		

				</div> <!-- col-md-6 -->
				<div class="col-md-3">
					<div class="sidebar">
						<ul>
							<li anchor="about"> About UPMUNC </li>
						</ul>
					</div>
				</div>

		</div>

		{% include js.html %}
	</body>
</html>