/*
 * BASIC
 */
html, body {
    font-size: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Asap", sans-serif;
}
p, a, ul, ol, li, div, input, textarea, select {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: inherit;
}
a {
    color: #b90021;
    text-decoration: none;
    font-weight: 700;
}
b {
    font-family: "Merriweather", serif;
    font-weight: 700;
}
input, button, select, option, textarea {
    outline: 0;
}

/*
 * BLOCKQUOTE
 */
blockquote {
    position: relative;
    margin: 0;
    padding: 2em 5em;
}
blockquote:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    height: 5em;


    content: '';
    background-image: url('/img/quotation.svg');
    background-size: cover;
}

/*
 * DESCRIPTION LIST
 */
dl dt {
    font-weight: 700;
}

/* 
 * BUTTONS
 */
a.button {
    color: black;
}
button, a.button, input[type="submit"] {
    color: black;
    background-color: transparent;
    font-family: "Asap", sans-serif;
    font-size: 16px;
    letter-spacing: 0.1875em;
    text-transform: uppercase;
    margin: 0;
    
    border-radius: 0;
    -webkit-transition: padding 0.25s, margin 0.25s;

    padding: 0.625em 1.25em;
    border: 2px solid black;

    cursor: pointer;
}
button:hover, a.button:hover, input[type="submit"]:hover {
    background-color: #1240ab;
    color: white;
}
button.tiny, a.button.tiny {
    font-size: 10px;
}
button.small, a.button.small {
    font-size: 12px;
}
button.large, a.button.large {
    font-size: 20px;
}

/*
 * SEARCH BAR
 */
.search-bar {
    /* This can be adjusted to change the component's size */
    font-size: 16px;

    position: relative;
    display: inline-block;
    margin-top: 0.375em;

}
.search-bar span {
    position: absolute;
    bottom: 0.9em;
    left: 0;
    font-size: inherit;
}
.search-bar input {
    box-shadow: none;
    border: none;
    outline: 0;

    width: 12em;
    margin: 0.25em;
    padding: 0.375em;
    border-bottom: 1px solid black;

    font-family: "Merriweather", serif;
    font-size: inherit;
    text-indent: 0.75em;
}
.search-bar.collapsed input {
    width: 0px;
    border-bottom: 1px solid transparent;
    transition: width 0.25s;
    -webkit-transition: width 0.25s, border 0.25s;
}
.search-bar.collapsed:hover input,
.search-bar.collapsed input:focus,
.search-bar.collapsed input:valid {
    width: 12em;
    border-bottom: 1px solid black;
}

/*
 * FORMS
 */
form {
    display: inline-block;
    font-size: 16px;
}
form label,
form input,
form textarea,
form select {
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
}
form.horizontal label,
form.horizontal input,
form.horizontal textarea,
form.horizontal select {
    display: inline-block;
    width: 12em;
    margin-right: 1em;
}
form input[type="submit"] {
    margin-right: 0;
    margin-bottom: 0;
}
form fieldset {
    border: 2px solid black;
    padding: 0.5em 1.5em 1.5em 1.5em;
}
form .title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
form.horizontal fieldset {
    padding-top: 0.5em;
}
form legend {
    width: initial;
    margin: 0;
    font-size: 1.25em;
    letter-spacing: 2px;
}
form input {
    padding: 0 0 0.2em 0;
    border: none;
    border-bottom: 1px solid black;
}
form textarea {
    border: none;
    resize: none;
    border-bottom: 1px solid black;
    -webkit-appearance: none !important;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
form select {
    -webkit-appearance: none !important;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+) 100% center no-repeat;
    
    padding: 0.2em 0 0.2em 0;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}
form select option:disabled {
    display: none;
}
form input[type="submit"].icon {
    width: 2em;
    height: 2em;
    float: right;
    background-image: url('/img/submit.svg');
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
}
form input[type="submit"].icon:hover {
    background-color: transparent;
}
input:invalid ~ input[type="submit"]:hover {
    background-color: #b90021;
    cursor: not-allowed;
}

/*
 * NAVBAR
 */
nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
nav a {
    position: relative;
}


/*
 * TABLE
 */
table {
    border: 1px solid #ddd;
    border-spacing: 3px;
    border-collapse: separate;
}
th, td {
    display: table-cell;
    padding: 0.5em;
}
table thead td,
table thead th {
    background-color: rgba(18, 64, 171, 0.15);
}
table tbody tr:nth-child(even) td,
table tbody tr:nth-child(even) th {
    background-color: rgba(18, 64, 171, 0.15);
}
